.page_title{
    position: relative;
    padding:15px 50px;
    font-weight: bold;
}

.request_frame{
    padding: 40px 0px;
    margin: 20px 30px;
    border-color: #0c0c0c;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
}

.list{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 30px;
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
}

.list_two{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
    margin: 20px 182px;
}


