.page_title{
    position: relative;
    padding:15px 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #207893 25%,#2ea3b7 100%);
    font-family: sans-serif;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    box-shadow:0px 0px 10px #000;
}

.request_frame{
    padding: 40px 0px;
    margin: 20px 30px;
    border-color: #0c0c0c;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
}

.list{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 30px;
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
}

.list_two{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:0px 0px 10px #000;
    border-radius:10px;
    margin: 20px 182px;
}

.btn-red{
    background-color: #e74c3c;
}

.btn-orange{
    background-color: #e67e22;
}

.btn-yellow{
    background-color: #f1c40f;
}

.btn-green{
    background-color: #16a085;
}

.btn-blue{
    background-color: #34495e;
}

.btn-pp{
    background-color: #8e44ad;
}

.index_s{
    margin: 10px 10px;
    background: rgba(251, 249, 249, 0.6);
    border-radius: 4px;
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    padding: 0px 10px 10px 10px;
}

.info_title{
    font-size:20px;
    line-height:1.8em;
    color:#BD9C37;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.info_title_p{
    font-size:20px;
    line-height:1.8em;
    color:#333;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.layui-upload-img {
    width: 92px;
    height: 92px;
}


