<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RRP -
        {% block title_block %}
        Home
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'SmallPanda.png' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/layui.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/js/css/modules/layer/default/layer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/js/css/modules/laydate/default/laydate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/js/css/modules/code.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/other.css' %}" />
    {% block css_block %}

    {% endblock %}
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black"><img src="{% static 'SmallPanda.png' %}" alt="" height="35" />&nbsp;&nbsp;&nbsp;RRPlatform</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs"><i class="layui-icon layui-icon-home" style="font-size: 25px; color: #1E9FFF;"></i>&nbsp;&nbsp;
                {% block block_top %}

                {% endblock %}
            </li>

        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    {% block userinfo %}

                    {% endblock %}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/userprofile"><i class="layui-icon layui-icon-username" style="font-size:15px"></i>&nbsp;&nbsp;Your Profile</a></dd>
                    <dd><a href="/logout"><i class="layui-icon layui-icon-logout" style="font-size:15px"></i>&nbsp;&nbsp;Log out</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="/main"><i class="layui-icon layui-icon-home" style="font-size:15px"></i>&nbsp;&nbsp;Main</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-template-1" style="font-size:15px"></i>&nbsp;&nbsp;SecurityEvent</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/event_request"><i class="layui-icon layui-icon-add-circle" style="font-size:15px"></i>&nbsp;&nbsp;Event Request</a></dd>
                        <dd><a href="/event_check"><i class="layui-icon layui-icon-read" style="font-size:15px"></i>&nbsp;&nbsp;Event Check</a></dd>
                        <dd><a href="/event_list"><i class="layui-icon layui-icon-list" style="font-size:15px"></i>&nbsp;&nbsp;Event List</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set-fill" style="font-size:15px"></i>&nbsp;&nbsp;Settings</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/role"><i class="layui-icon layui-icon-user" style="font-size:15px"></i>&nbsp;&nbsp;Role</a></dd>
                        <dd><a href="/asset_value"><i class="layui-icon layui-icon-cellphone" style="font-size:15px"></i>&nbsp;&nbsp;AV</a></dd>
                        <dd><a href="/ransomware_type"><i class="layui-icon layui-icon-component" style="font-size:15px"></i>&nbsp;&nbsp;RansomwareType</a></dd>
                        <dd><a href="/risk_level_assessment"><i class="layui-icon layui-icon-ok-circle" style="font-size:15px"></i>&nbsp;&nbsp;RiskLevelAssessment</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" style="text-align: center"><i class="layui-icon layui-icon-tree" style="font-size:20px"></i>&nbsp;&nbsp;Ver. 1.50&nbsp;&nbsp;<i class="layui-icon layui-icon-tree" style="font-size:20px"></i></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div>
            {% block body_block %}
                This is body_block's default content.
            {% endblock %}
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        {% block body_bottom %}
        <div class="my_footer" style="text-align: center">Made by 2516812Z | University of Glasgow</div>
        {% endblock %}
    </div>
</div>


<script src="{% static 'assets/js/layui.js' %}"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function(){
        var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,$ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function(othis){
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            ,menuRight: function(){
                layer.open({
                    type: 1
                    ,content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    ,area: ['260px', '100%']
                    ,offset: 'rt' //右上角
                    ,anim: 5
                    ,shadeClose: true
                });
            }
        });

    });
</script>
{% block script %}

{% endblock %}
</body>

</html>