{% extends 'base.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
Check
{% endblock %}

{% block block_top %}
MAIN \ SECURITY EVENT \ EVENT CHECK
{% endblock %}

{% block userinfo %}
<img src="{{ MEDIA_URL }}{{ picture }}" class="layui-nav-img">
{{ user.username }}
{% endblock %}

{% block body_block %}
<h1 class="page_title">Security Event List</h1>
<div class="list">
    <table class="layui-table" lay-size="lg" lay-filter="demo" >
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th lay-data="{field: 'id', width:70, sort: true, fixed: 'left', type:'numbers'}">ID</th>
            <th lay-data="{field: 'CreateTime', width:100, sort: true}">Time</th>
            <th lay-data="{field: 'RequestUser', width:100, sort: true}">ReqUser</th>
            <th lay-data="{field: 'AssetName', width:100, sort: true}">AName</th>
            <th lay-data="{field: 'RansonwareName', width:100, sort: true}">RName</th>
            <th lay-data="{field: 'RansonwareType', width:100, sort: true}">RType</th>
            <th lay-data="{field: 'RansonAmount', width:100, sort: true}">RAmount</th>
            <th lay-data="{field: 'Duration', width:100, sort: true}">Duration</th>
            <th lay-data="{field: 'RiskLevel', width:100, sort: true}">RiskLevel</th>
            <th lay-data="{field: 'CurrentProgress', width: 100, sort: true}">Progress</th>
            <th lay-data="{field: 'recoveryTime', width:100, sort: true}">RecTime</th>
            <th lay-data="{field: 'Operation', width: 100, sort: true, escape: false}">Operation</th>
        </tr>
        </thead>
        <tbody id="check_table">
        {% if events %}
        {% for eve in events %}
        <tr>
            <td></td>
            <td>{{ eve.requestTime }}</td>
            <td>{{ eve.requestUser }}</td>
            <td>{{ eve.userAsset.assetName }}</td>
            <td>{{ eve.ransomwareName }}</td>
            <td>{{ eve.ransomwareType }}</td>
            <td>{{ eve.ransomAmount }}</td>
            <td>{{ eve.duration }}</td>
            <td>{{ eve.riskLevel }}</td>
            <td>{{ eve.currentProcess }}</td>
            <td>{{ eve.recoveryTime }}</td>
            <td><a href="/event_info">Check</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block body_bottom %}
*** Welcome ! ***
{% endblock %}

{% block script %}
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.init('demo', {
            height: 600
            ,limit: 10
            ,page: true
        });
    });

    window.onload = function () {
        var tableLine = document.getElementById("check_table");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
    }
</script>
{% endblock%}