{% extends 'base.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
Main
{% endblock %}

{% block block_top %}
MAIN
{% endblock %}

{% block userinfo %}
<img src="{{ MEDIA_URL }}{{ picture }}" class="layui-nav-img">
{{ user.username }}
{% endblock %}

{% block block_left %}
<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">menu group 1</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">menu 1</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">menu group 2</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">list 1</a></dd>
            <dd><a href="javascript:;">list 2</a></dd>
            <dd><a href="">超链接</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
    <li class="layui-nav-item"><a href="">the links</a></li>
</ul>
{% endblock %}

{% block body_block %}

{% endblock %}

{% block body_bottom %}
*** Welcome ! ***
{% endblock %}