{% extends 'baseAdmin.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
RansomwareType
{% endblock %}

{% block block_top %}
MAIN \ SETTINGS \ RANSOMWARE TYPE
{% endblock %}

{% block userinfo %}
<img src="{{ MEDIA_URL }}{{ picture }}" class="layui-nav-img">
{{ user.username }}
{% endblock %}

{% block body_block %}
<h1 class="page_title">Ransomware Type List</h1>
<div class="list_two">
    <table class="layui-table" lay-size="lg" lay-filter="demo" >
        <colgroup>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th lay-data="{field: 'id', width:70, sort: true, fixed: 'left', type:'numbers'}">ID</th>
            <th lay-data="{field: 'RansomwareName', width:200, sort: true}">RansomwareName</th>
            <th lay-data="{field: 'RansomwareType', width:200, sort: true}">RansomwareType</th>
            <th lay-data="{field: 'Description', width:400, sort: true}">Description</th>
        </tr>
        </thead>
        <tbody id="check_table">
        {% if allRansomwares %}
        {% for SinR in allRansomwares %}
        <tr>
            <td></td>
            <td>{{ SinR.ransomwareName }}</td>
            <td>{{ SinR.ransomwareType }}</td>
            <td>{{ SinR.description }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block body_bottom %}
*** Welcome ! ***
{% endblock %}

{% block script %}
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.init('demo', {
            height: 500
            ,width: 875
            ,limit: 10
            ,page: true
        });
    });

    window.onload = function () {
        var tableLine = document.getElementById("check_table");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
    }
</script>
{% endblock%}