{% extends 'login.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
{% if registered %}
<div>
    <h3 class="login_title">SIGN UP</h3>
    <p class="login_title" style="font-size:15px">Thank you for registering!</p>
    <p class="login_title" style="font-size:15px">Return to the <a href="{% url 'login' %}" style="color:#FF5722;text-decoration:underline">login</a> page.</p>
</div>
{% else %}
<div>
    <form id="register_form" style="height: 630px;" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        <h3 class="login_title" style="font-size:30px">SIGN UP</h3></br>
        {% csrf_token %}

        <label for="username" class="login_label" style="font-size:15px"><i class="layui-icon layui-icon-username" style="font-size:15px"></i>&nbsp;&nbsp;Username</label></br></br>
        <input name="username" type="text" placeholder="  Name" id="username" class="login_input" style="height:30px"></br></br>
        <label for="password" class="login_label" style="font-size:15px"><i class="layui-icon layui-icon-password" style="font-size:15px"></i>&nbsp;&nbsp;Password</label></br></br>
        <input name="password" type="password" placeholder="  Password" id="password" class="login_input" style="height:30px"></br></br>
        <label for="email" class="login_label" style="font-size:15px"><i class="layui-icon layui-icon-username" style="font-size:15px"></i>&nbsp;&nbsp;Email</label></br></br>
        <input name="email" type="text" placeholder="  Email" id="email" class="login_input" style="height:30px"></br></br>
        <label for="reg_pic" class="login_label" style="font-size:15px"><i class="layui-icon layui-icon-picture" style="font-size:15px"></i>&nbsp;&nbsp;Picture</label></br></br>
        <input type="file" name="file" id="reg_pic">
        </br>{{ reg_message }}</br></br>
        <input type="submit" class="layui-btn layui-btn-radius layui-btn-danger login_btn" value="Register" />
        </br></br></br></br>
        <span class="login_re">Already had an account? Go to&nbsp;&nbsp;<a href="/login" class="layui-btn layui-btn-sm layui-btn-radius">LOGIN</a></span>
    </form>
</div>
{% endif %}
{% endblock %}