{% extends 'login.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
{% if registered %}
<div>
    <h3  class="login_title">Register</h3>
    <p>Thank you for registering!</p>
    <p><a href="{% url 'login' %}">Return to the login page.</a></p>
</div>
{% else %}
<div>
    <form id="register_form" style="height: 630px;" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        <h3  class="login_title">Register</h3></br>

        {% csrf_token %}
        <div class="login_label">{{ user_form.as_p }}</div></br>

        <div class="login_label login_re">{{ profile_form.as_p }}</div></br>

        <input type="submit" class="layui-btn layui-btn-radius layui-btn-danger login_btn" value="Register" />
        </br></br></br></br>
        <span class="login_re">Already had an account? Go to&nbsp;&nbsp;<a href="/login" class="layui-btn layui-btn-sm layui-btn-radius">LOGIN</a></span>
    </form>
</div>
{% endif %}
{% endblock %}