{% extends 'baseAdmin.html' %}
{% load static %}

{% block css_block %}
{% endblock %}

{% block title_block %}
Role
{% endblock %}

{% block block_top %}
MAIN \ SETTINGS \ ROLE
{% endblock %}

{% block userinfo %}
<img src="{{ MEDIA_URL }}{{ picture }}" class="layui-nav-img">
{{ user.username }}
{% endblock %}

{% block body_block %}
<h1 class="page_title">Role List</h1>

<div class="list_two">
    <table class="layui-table" lay-size="lg" lay-filter="demo" >
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th lay-data="{field: 'id', width:70, sort: true, fixed: 'left', type:'numbers'}">ID</th>
            <th lay-data="{field: 'Username', width:120, sort: true}">Username</th>
            <th lay-data="{field: 'UserEmail', width:200, sort: true}">UserEmail</th>
            <th lay-data="{field: 'Position', width:120, sort: true}">Position</th>
            <th lay-data="{field: 'Superior', width:120, sort: true}">Superior</th>
            <th lay-data="{field: 'CIRT', width:120, sort: true}">CIRT</th>
            <th lay-data="{field: 'Reporter', width:120, sort: true}">Reporter</th>
        </tr>
        </thead>
        <tbody id="check_table">
        {% if allUsers %}
        {% for SinU in allUsers %}
        <tr>
            <td></td>
            <td>{{ SinU.user.username }}</td>
            <td>{{ SinU.user.email }}</td>
            <td>{{ SinU.position }}</td>
            <td>{{ SinU.superior }}</td>
            <td>{{ SinU.cirt }}</td>
            <td>{{ SinU.reporter }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block body_bottom %}
*** Welcome ! ***
{% endblock %}

{% block script %}
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.init('demo', {
            height: 500
            ,width: 875
            ,limit: 10
            ,page: true
        });
    });

    window.onload = function () {
        var tableLine = document.getElementById("check_table");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
    }
</script>
{% endblock%}