{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'assets/css/usercard.css' %}" />
{% endblock %}

{% block title_block %}
Userprofile
{% endblock %}

{% block block_top %}
MAIN \ USER PROFILE
{% endblock %}

{% block userinfo %}
<img src="{{ MEDIA_URL }}{{ picture }}" class="layui-nav-img">
{{ user.username }}
{% endblock %}

{% block block_left %}
<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">menu group 1</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">menu 1</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">menu group 2</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">list 1</a></dd>
            <dd><a href="javascript:;">list 2</a></dd>
            <dd><a href="">超链接</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
    <li class="layui-nav-item"><a href="">the links</a></li>
</ul>
{% endblock %}

{% block body_block %}
<div class="app" style="background-image: url({{ MEDIA_URL }}{{ picture }})">
    <div class="header">
        <img src="{{ MEDIA_URL }}{{ picture }}" class="avatar" />
        <h2 class="name">{{ user.username }}</h2>
        <h3 class="location">{{ user.email }}</h3>
    </div>
    <div class="footer">
        <ul class="details">
            <li>Staff No.<span>12{{ staffNo }}</span></li>
            <li>RequestNum<br><span>32{{ requestNum }}</span></li>
        </ul>
        <a href="/logout" class="to-github">Log out</a>
    </div>
</div>
{% endblock %}

{% block body_bottom %}
*** Welcome {{ user.username }}! ***
{% endblock %}